body {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  background-color: black;
  color: white;
  font-family: monospace;
}

a {
  color: yellow;
  text-decoration: none;
}

#additional-examples  a:link {
    color: black;
    text-decoration: underline;
}
textarea {
  border: 4px solid black;
  color: black;
  border-radius: 10px;
  padding: 8px;
  font-family: monospace
}

textarea:disabled {
  background-color: lightgray;
}


.important-box {
  border: 3px solid black;
  color: black;
  font-size: 20px;
  margin: 2mm;
  background-color: white;
  display: inline-block;
  padding: 4mm;
  border-radius: 12px;
}

button {
  padding: 9px 9px;
}

code {
  background-color: gray;
}
